<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/Resources/bootstrap.php"
>
    <testsuites>
        <testsuite name="Slinp Bundle test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="tests/Resources/app" />
    </php>

</phpunit>
