{% extends "SlinpBundle::layout.html.twig" %}
{% block content %}
    <div class="error_container">
    <h1>404 Resource: {{ resource.node.name }}</h1>
        <p>No controller has been defined for handling this type of content.</p>
    </div>
{% endblock %}
