{% extends "SlinpBundle::layout.html.twig" %}
{% block content %}
    <div class="error_container">
        <h1>404 Resource: {{ resource.name }}</h1>
        <p>No controller has been defined for handling this type of content.</p>
        <p>This resource has the following node types:</p>
        <ul>
            {% for name, map in typeMap %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
        <p>To handle requests for this resource you need to define a controller which corresponds to the given node type.</p>
    </div>
{% endblock %}
